/* normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 0 0 1em 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Tables
   ========================================================================== */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes and Preferred Defaults
   ========================================================================== */
/* apply a natural box layout model to all elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ir, #headline h1 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before, #headline h1:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, #main:before, ul.thumbnails:before, div.gallery:before,
.clearfix:after,
#main:after,
ul.thumbnails:after,
div.gallery:after {
  content: " ";
  display: table; }

.clearfix:after, #main:after, ul.thumbnails:after, div.gallery:after {
  clear: both; }

.clearfix, #main, ul.thumbnails, div.gallery {
  *zoom: 1; }

.listreset, ul.thumbnails, #nav1 ul, #nav2 ul, .listreset ul, ul.thumbnails ul, #nav1 ul ul, #nav2 ul ul, .listreset ol, ul.thumbnails ol, #nav1 ul ol, #nav2 ul ol, .listreset li, ul.thumbnails li, #nav1 ul li, #nav2 ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Various extendables */
html {
  color: #000;
  background: #f2dea0; }

body {
  font-size: 1em;
  line-height: 1.4;
  position: relative;
  min-height: 100%; }

h1, h2, h3, h4, h5, h6, nav, footer {
  font-family: "Quicksand", "Helvetiva Neue", "Helvetica", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

a {
  color: #a52e03;
  text-decoration: none; }
  a:hover {
    color: black; }

#nav1, body > footer {
  font-weight: 400;
  color: #f2dea0;
  background-color: #732002; }

::-moz-selection, ::selection {
  background: black;
  color: #f2dea0;
  text-shadow: none; }

html {
  height: 100%; }

#container {
  padding-bottom: 75px; }

#nav1 ul, #main, #headline {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

#content, .page-title {
  float: right;
  width: 80%; }

#content {
  background: white;
  padding: 1em;
  border-radius: 5px;
  overflow: hidden; }
  #content img, #content iframe, #content embed, #content object, #content video {
    max-width: 100%;
    height: auto;
    width: auto;
    -ms-interpolation-mode: bicubic; }

.page-title {
  margin-top: 0;
  clear: left; }

#sidebar {
  float: left;
  width: 20%;
  padding-top: 1em; }

@media screen and (max-width: 760px) {
  #content, .page-title, #sidebar {
    float: none;
    width: auto; }

  #sidebar {
    margin-left: 0;
    margin-right: 0; } }
footer {
  text-align: center;
  padding: 0.5em 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/**
 * The thumbnails galleries ( #main > ul.thumbnails )
 */
body.thumbnails-page h2.not-found {
  text-align: center; }

ul.thumbnails {
  text-align: center;
  font-size: 0; }
  ul.thumbnails a {
    display: block;
    position: relative;
    margin: 5px; }
  ul.thumbnails li {
    display: inline-block;
    width: 20%;
    max-width: 210px; }
    html.lt-ie8 ul.thumbnails li img.active {
      display: none; }
    ul.thumbnails li img {
      max-width: 100%;
      height: auto;
      width: auto;
      -ms-interpolation-mode: bicubic;
      width: 100%;
      display: block; }
    ul.thumbnails li img.active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      display: none; }
      html.csstransitions ul.thumbnails li img.active {
        display: block;
        -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
        transition: opacity 1s ease; }
  ul.thumbnails a:hover img.active {
    opacity: 1;
    display: block; }
  @media only screen and (max-width: 860px) {
    ul.thumbnails li {
      width: 25%; } }
  @media only screen and (max-width: 480px) {
    ul.thumbnails li {
      width: 33.3%; } }

/**
 * The Primary Navigation Menu ( nav#nav1 > ul )
 */
#nav1 ul {
  text-align: center; }
#nav1 li {
  display: inline-block; }
#nav1 a {
  display: block;
  padding: 0.5em 1em;
  color: #f2dea0;
  text-decoration: none;
  text-transform: lowercase; }
#nav1 a:hover, #nav1 li.current_page_item a, #nav1 li.current-page-item a {
  color: #f2dea0; }
html.flexboxlegacy #nav1 ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify; }
html.flexbox #nav1 ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
html.flexbox #nav1 li {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
html.flexboxlegacy #nav1 a:hover, html.flexboxlegacy #nav1 li.current_page_item a, html.flexboxlegacy #nav1 li.current-page-item a, html.flexbox #nav1 a:hover, html.flexbox #nav1 li.current_page_item a, html.flexbox #nav1 li.current-page-item a {
  font-weight: 700; }

/**
 * The secondary navigation ( #sidebar #nav2 > ul )
 */
#nav2 ul a {
  color: black; }
#nav2 ul a:hover, #nav2 ul li.current_page_item a, #nav2 ul li.current-page-item a {
  color: #a52e03; }
#nav2 ul li {
  margin-bottom: 0.25em; }
@media screen and (max-width: 760px) {
  #nav2 ul ul, #nav2 ul li {
    display: inline; }
  .gt-ie8 #nav2 ul {
    text-align: center; }
    .gt-ie8 #nav2 ul a {
      display: inline-block; }
  .lt-ie8 #nav2 ul a {
    display: block;
    float: left; }
  #nav2 ul a {
    padding: 0.5em 1em;
    margin: 0.5em;
    background: white;
    border-radius: 3px; } }

/**
 * The header logo ( header#headline > h1 )
 */
html.gt-ie8 #headline h1 {
  display: inline-block; }
body.thumbnails-page #headline {
  margin: 0 auto;
  text-align: center; }
#headline h1 {
  width: 20%;
  height: 125px;
  background-image: url("../gfx/logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }
  body.thumbnails-page #headline h1 {
    width: 300px;
    height: 200px;
    max-width: 80%; }
  html.svg #headline h1 {
    background-image: url("../gfx/logo.svg"); }
@media only screen and (max-width: 760px) {
  #headline {
    margin: 0 auto;
    text-align: center; }
    #headline h1 {
      width: 300px;
      height: 200px;
      max-width: 80%; } }

button, input, select, textarea {
  max-width: 96%; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* =Post Meta Styles (These are theme-speicfic, not WP provided)
-------------------------------------------------------------- */
a.readmore-link, p.edit-link a {
  font-size: 0.75em; }

div.entry-meta, div.posts-nav {
  margin-top: 1em;
  border-top: 1px solid #DDD;
  padding-top: 0.75em;
  font-size: 0.75em;
  font-style: italic; }

div.entry-meta {
  color: #999; }

div.posts-nav {
  text-align: center; }

/* ==========================================================================
   Style Overrides for WordPress Gallery Shortcode
   ========================================================================== */
div.gallery {
  margin: auto; }
  div.gallery .gallery-item {
    box-sizing: border-box;
    float: left;
    margin-top: 0.25em;
    text-align: center;
    /* By default, we'll do 25% (4-columns). This will be overridden by column
     * mixins below if :nth-child() is supported. */
    width: 25%;
    overflow: hidden; }
    div.gallery .gallery-item img {
      border-radius: 10px; }
  div.gallery .gallery-icon img {
    max-width: 100%;
    height: auto;
    width: auto;
    -ms-interpolation-mode: bicubic; }
  div.gallery .gallery-icon img, div.gallery .gallery-icon a {
    display: block; }
  div.gallery .gallery-caption {
    margin: 0.5em 0 0 0;
    font-size: 0.75em;
    font-style: italic;
    color: #666; }
  @media only screen and (min-width: 981px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 15%;
        margin-left: 2%; }
      div.gallery .gallery-item:nth-child(6n-5) {
        clear: left;
        margin-left: 0; } }
  @media only screen and (min-width: 761px) and (max-width: 980px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 18%;
        margin-left: 2.5%; }
      div.gallery .gallery-item:nth-child(5n-4) {
        clear: left;
        margin-left: 0; } }
  @media only screen and (min-width: 541px) and (max-width: 760px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 22.75%;
        margin-left: 3%; }
      div.gallery .gallery-item:nth-child(4n-3) {
        clear: left;
        margin-left: 0; } }
  @media only screen and (min-width: 321px) and (max-width: 540px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 32%;
        margin-left: 2%; }
      div.gallery .gallery-item:nth-child(3n-2) {
        clear: left;
        margin-left: 0; } }
  @media only screen and (max-width: 320px) {
    div.gallery {
      /* If nth-child is supported, we'll do columns like this */ }
      div.gallery .gallery-item:nth-child(n+0) {
        width: 48%;
        margin-left: 4%; }
      div.gallery .gallery-item:nth-child(2n-1) {
        clear: left;
        margin-left: 0; } }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after, #headline h1 a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
