/**
 * The header logo ( header#headline > h1 )
 */

#headline {
  html.gt-ie8 & {
    // If we can, use inline-block so that the clickable area for the logo isn't
    // the width of the entire screen.
    h1 { display: inline-block; }
  }

  body.thumbnails-page & {
    // Center the logo on the first page. If we're inline-block, the margin will
    // apply. If not, text-align:center will at least push the visible logo inward;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    @extend .ir;

    width: 20%;
    height: 125px;

    body.thumbnails-page & {
      width: 300px;
      height: 200px;
      max-width: 80%;
    }

    background: {
      image: url('../gfx/logo.png');
      size: contain;
      position: center center;
      repeat: no-repeat;
    }

    // If browser supports SVG, use a vectorized logo.
    html.svg & { background-image: url('../gfx/logo.svg'); }
  }

  // And on narrower screens, use the body.thumbnails-page larger/centered logo
  @media only screen and (max-width: 760px) {
    margin: 0 auto;
    text-align: center;

    h1 {
      width: 300px;
      height: 200px;
      max-width: 80%;
    }
  }
}