/**
 * The Primary Navigation Menu ( nav#nav1 > ul )
 */
#nav1 {
  ul {
    @extend .listreset;
    text-align: center;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 0.5em 1em;
    color: $yellow;
    text-decoration: none;
    text-transform: lowercase;
  }

  a:hover, li.current_page_item a , li.current-page-item a {
    color: $yellow;
  }

  // The 'Old' 2009 Flexbox Implementation
  html.flexboxlegacy & {
    ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;

      -webkit-box-pack: justify;
      -moz-box-pack:    justify;
      -ms-box-pack:     justify;
      box-pack:         justify;
    }
  }

  // The 'New' 2011 Flexbox Implementation: this allows us to do a full-spread
  // full-width banner with an unknown number of child elements
  html.flexbox & {
    // The menu is the flex container and specifies that flex items should
    // vertically align center
    ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;

      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
    }

    // Each li is flex:1; which means they will all expand to fill an equal amount
    // of space
    li {
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }

  html.flexboxlegacy &, html.flexbox & {
    // We only do this on the flexboxes because otherwise the added weight would
    // shift the positioning of the other list items and cause the menu to bounce
    a:hover, li.current_page_item a, li.current-page-item a { font-weight: 700; }
  }
}

/**
 * The secondary navigation ( #sidebar #nav2 > ul )
 */

#nav2 ul {
  @extend .listreset;

  a { color: black; }
  a:hover, li.current_page_item a, li.current-page-item a { color: lighten($red, 10%); }
  li { margin-bottom: 0.25em; }

  @media screen and (max-width: 760px) {
    ul, li { display: inline; }

    .gt-ie8 & {
      text-align: center;
      a { display: inline-block; }
    }

    .lt-ie8 & {
      a { display: block; float: left; }
    }

    a {
      padding: 0.5em 1em;
      margin: 0.5em;
      background: white;
      border-radius: 3px;
    }
  }
}

