/**
 * The thumbnails galleries ( #main > ul.thumbnails )
 */

body.thumbnails-page {
  h2.not-found { text-align: center; }
}

ul.thumbnails {
  @extend .listreset, .clearfix;
  text-align: center;

  // See http://css-tricks.com/fighting-the-space-between-inline-block-elements/
  // We need to collapse the spacing between the inline-block tiles
  font-size: 0;

  a {
    display: block;
    position: relative;
    margin: 5px;
  }

  li {
    display: inline-block;
    width: 20%; // 5-columns
    max-width: (200px + 5 + 5); // The margin from the link container

    html.lt-ie8 & {
      img.active { display: none; }
    }

    img {
      @include responsive;
      width: 100%;
      display: block;
    }

    img.active  {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      opacity: 0;

      // We'll default to a display:none/block maneuver if css transitions aren't
      // available. This will also catch Old IE's lack of non-filter opacity support.
      display: none;

      html.csstransitions & {
        display: block; // We've got transitions, so we know we've got opacity
        -webkit-transition: opacity 1s ease;
        -moz-transition:    opacity 1s ease;
        -ms-transition:     opacity 1s ease;
        -o-transition:      opacity 1s ease;
        transition:         opacity 1s ease;
      }
    }
  }

  a:hover {
    img.active { 
      opacity: 1;
      display: block;
    }
  }

  // A couple breakpoints to resize the images
  @media only screen and (max-width: 860px) { li { width: 25%; } } // 4-col
  @media only screen and (max-width: 480px) { li { width: 33.3%; } } // 3-col
}
