@import 'normalize', 'helpers'; /* Various extendables */

// ### Variables:
$yellow: #F2DEA0;
$red: #732002;
$sans-serif: 'Helvetiva Neue', 'Helvetica', 'Arial', sans-serif;
$quicksand: 'Quicksand', $sans-serif;

// ### Default colors and typography:
html {
    color: #000;
    background: $yellow;
}

body {
    font-size: 1em;
    line-height: 1.4;
    position: relative;
    min-height: 100%;
}

// Specify when to use special-case typeface "Quicksand" from Google Webfonts
h1, h2, h3, h4, h5, h6, nav, footer { font-family: $quicksand; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; }

// Default link colors
a {
  color: lighten($red, 10%);
  text-decoration: none;
  &:hover { color: darken($red, 40%); }
}

// The primary nav and footer are reversed:
#nav1, body > footer {
  font-weight: 400;
  color: $yellow;
  background-color: $red;
}

// Selection background/foreground
::-moz-selection, ::selection {
    background: black;
    color: $yellow;
    text-shadow: none;
}

// ### Basic structure and width specifications

// Set html height so we can later position the footer at the absolute bottom
html { height: 100%; }

// Make room for the footer
#container { padding-bottom: 75px; }

// Set dimensions for outermost content-containing elements
#nav1 ul, #main, #headline {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

// Primary content on subpages contains the page-title, #content, and #sidebar
// in a semi-stacked grid. Node that the logo is sized like it is in the grid,
// but remains outside of #main
//
// | logo    |
// <main>
//           |   page-title     |
// | sidebar |   content        |
// </main>
//

#main { @extend .clearfix; }

#content, .page-title {
  float: right;
  width: 80%;
}

#content {
  background: white;
  padding: 1em;

  border-radius: 5px;
  overflow: hidden;

  img, iframe, embed, object, video { @include responsive; }
}

.page-title {
  margin-top: 0;
  clear: left;
}

#sidebar {
  float: left;
  width: 20%;
  padding-top: 1em; // To match the padding on the white #content box
}

@media screen and (max-width: 760px) {
  #content, .page-title, #sidebar {
    float: none;
    width: auto;
  }

  #sidebar {
    // At this size, this menu becomes a few buttons at the bottom of the page and
    // this margin from the edge of the window is provided by the buttons' own
    // margins.
    margin-left: 0;
    margin-right: 0;
  }
}

// The footer
footer {
  text-align: center;
  padding: 0.5em 1em;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

// ### Design Elements and Specific Formatting
@import 'thumbnails', 'menus', 'header';

button, input, select, textarea {
  max-width: 96%;
}

// ### Fill in the rest of the defaults and special responsive cases
@import 'wp', 'gallery', 'media', 'print';